<!-- templates/room_error.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Room Already Exists</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
</head>
<body>
    <div class="container">
        <h1>Error - Room Already Exists</h1>
        <p>The room you are trying to create already exists. Please choose a different name.</p>
        <a href="/" class="back-link">Go back to Room Creation</a>
    </div>
</body>
</html>
